#main-wrap
{
    
}
/*header partie*/
header
{
    display:flex;
    justify-content: center;
    align-items: center;
       
}

.first_container
{display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 8%;
  margin-right: 30%;

}
.first_list
{
  list-style-type:none;
  display:flex;
  justify-content: space-between;
 
}
.second_list
{ 
list-style-type:none;
display:flex;
justify-content: space-between;

}

li
{margin-right: 30px;
font-weight: bold;

}
a{
  color: gray;
text-decoration-line: none;
}
.first_container a:hover
{color: black;
}
.second_container
{
  display: flex;
  width: 15%;
  justify-content: space-between;
    
   
}
.sign_up,.login
{width :35%; 
border: none;
background-color: white;
font-weight: bold;
}

.login a:hover
{color: aqua;
}
.sign_up a:hover
{color: aqua;}


/*video partie*/

.bloc_video
{
   display:flex;
   justify-content: space-around;
   
}

.between_video
{
  display:flex ;
  background-color: #c896a5;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex-grow:2;
  font-size: 2em;

}
.video_software
{
color: white;

}
.between_video button
{    width: 27%;
  height: 13%;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 0.6em;
}

.between_video p
{margin-bottom: 50px}



/*under_video partie*/


.bloc_under_video
{display: flex;
 
}
.yellow_bloc
{ display:flex;
  flex-direction: column;
  background-color: #fed24a;
  padding:30px;
  width:40%;

}
.aqua_bloc
{ display:flex;
  flex-direction: column;
  background-color:#51c29f;
  padding:30px;
  width:40%;

  
}
.blue_bloc
{ display:flex;
  flex-direction: column;
  background-color:#3ea9f5;
  padding:30px;
  width:40%;  
}

.free_yellow
{  width: 40%;
  height: 20%;
  background-color: #fed24a;
  border: 1px solid white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}
.free_aqua
{  width: 40%;
  height: 20%;
  background-color: #51c29f;
  border: 1px solid white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}
.explore_blue
{  width: 40%;
  height: 20%;
  background-color: #3ea9f5;
  border: 1px solid white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}
.bloc_under_video p
{ font-size: 140%;
}

.bloc_under_video h2

{color:white;
  font-size: 150%;
}
.bloc_under_video a
{
  color:black;
}


/*third part*/
.third_bloc
{ display:flex;
  justify-content: space-around;
  padding: 25px;
}
.third_bloc p
{
color: gray;
font-size: 160%;
}

/*fourth part*/

.third_container
{display :flex;
justify-content: space-around;
 padding-top :60px;
}
.third_container img
{
  width:100%;
  height:50%;
}
.third_container h2
{
  font-weight: bold;
  font-size: 140%;
}
.third_container p
{
  
  font-size: 115%;
}
.third_container button
{
  border:none;
  text-decoration: underline;
  font-size: 115%;
  background: none; 
}
.third_container a
{
color: blue;
}

/*footer part */
footer
{
  display :flex;
 flex-direction: column;
 }

.first_bloc_footer 
{background-color: #efefef;
  color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_bloc_footer a 
{
  text-decoration: underline;
  
}
.logo_footer
{
 display: flex;
    flex-direction: column;
    color: white;
    padding-left: 2%;
    padding-top: 3%;
    font-size: 115%;
}
.logo_footer a
{
 color: #379a61;}

 .logo_footer img
 { width: 50%;
  height: 20%;
  
}

.second_bloc_footer 
{display :flex;
background-color:#2a2d35;
 }

 .list_footer 
 {display: flex;
  justify-content: space-around;
  padding-top: 4%;
  padding-left: 10%;
 
  }
  .list_footer span
{font-weight: bold;
color:white;}

.list_footer li
{ display: flex;

margin-top: 5%;  }

.second_bloc_footer ul
{
  list-style-type:none;
  color :#bec4ce;
  
   
}

.third_bloc_footer
{background-color:#2a2d35;
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  color: gray;
}
